header h1 {
  text-transform: uppercase;
  font-size: 10rem;
  margin: 0 0 5rem;
  display: flex;
  justify-content: space-between;
}

header h2 {
  text-transform: uppercase;
  font-size: 2.775rem;
  font-weight: 400;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

header h2 > span::after {
  content: "."
}

main {
  width: 100rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.media-references {
  width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 10rem auto 2rem;
}

.media-references a {
  position: relative;
  padding: 2rem;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0.2rem #cecece;
  color: white;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.85;
  transition: all 0.2s ease-out;
  left: 0;
  right: 0;
  width: 100%;
}

.media-references a:nth-child(1) {
  background: linear-gradient(to bottom, #992e20, #722218);
}

.media-references a:nth-child(2) {
  background: linear-gradient(to bottom, #cc2f1b, #a02515);
}

.media-references a:nth-child(3) {
  background: linear-gradient(to bottom, #e37264, #b1584c);
}

.media-references a:last-child {
  margin-bottom: 0;
}

.media-references a:visited {
  color: white;
}

.media-references a:hover {
  opacity: 1;
  left: -10px;
  right: 10px;
  width: calc(100% + 20px);
}

@media screen and (max-width: 1000px) {
  header {
    margin: 0 2rem;
    background-color: white;
    padding: 4rem 2rem;
    box-shadow: 0 0.2rem 1rem 0.2rem #cecece;
    border-radius: 0.5rem;
  }
  header h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  header h1 span {
    margin: 0 0.75rem 0.5rem;
  }
  header h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    flex-direction: column;
  }
  header h2 > span {
    display: block;
    margin: 1rem 0 0;
  }
  header h2 > span::after {
    content: ""
  }
  main {
    width: 100%;
  }
  .media-references {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .media-references {
    width: 100%;
    padding: 0 2rem;
  }

  main {
    padding-top: 2rem;
  }
}
